header,
#pages
  margin: 20px

#pages
  .page
    border: 1px solid #ccc
    width: 300px
    float: left
    padding: 10px
    margin: 0px 20px 20px 0px
    height: 250px
  
    .response_time
      float: right

    a
      display: inline-block
      width: 220px

    ul
      padding: 0px
      font-size: 12px
      list-style-type: none

      li
        margin-bottom: 5px
